* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 922px;
    margin: auto;
}

.navbar {
    display: flex;
    width: 922px;
    height: 71px;
    background: #14164A;
}

.links {
    padding-top: 23px;
}

.links a{
    font-family: 'Jaldi';
    font-size: 14.5px;
    font-weight: 400;
    color: #FFFEFE;
    text-decoration: none;
    margin: 15px;
}

.links a:hover {
    color:#F8D937C9;
}

.logo {
    margin-left: 12px;
    padding-top: 15px;
}

.logo h1 {
    font-family: 'Jaldi', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFEFE;
}

.logo h2 {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 15px; 
    color: #F5F5F5;
    text-align: center;
    margin-top: -15px;
    display: flex;
}     

.logo h2:before, .logo h2:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #EECC1C;
  margin: auto;
}


.search-box-container form {
    padding-top: 15px;
}

.search-box-container input {
    display: relative;
    width: 105px;
    height: 38px;    
    background: #FFFEFE;
    border: 1px solid #14164A;
    border-radius: 30px;
    padding: 5px 20px 5px 5px;
}

.search-box-container form i {
    position: absolute;
    margin-top: 12px;
    margin-left: -25px;
    color: #000;
    font-size: 12px;
    cursor: pointer;
}

.search-box-container ::placeholder {
    color: #000;
    opacity: 0.8;
}

.toggle-btn {
    display: flex;
    color: #FFFEFE;
}

.toggle-btn i {
    display: none;
}

.wrapper {
    background-color: #E7E5E5E8;
    height: 538px;
}

.wrapper .header {
    display: flex;
}

.wrapper .header i {
    margin-top: 15px;
    margin-left: 156px;
    cursor: pointer;
    display: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 922px;
    height: 609px;
    padding: 10px;
    border-radius: 4px;    
    gap: 10px;
}

.wrapper .header h1 {
    font-family: 'Inria Serif';
    font-weight: 400;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 14px;
    margin-left: 30px;
}

aside {
    color: #ccc;
    background-color: #FFFEFE;
    border-radius: 4px;
    padding: 10px;
    margin-top: -5px;
    margin-left: 20px;
    width: 253px;
    height: 460px;
}

aside a {
    text-decoration: none;
    color:#5359EF;
}

aside hr {
    width: 224px;
    height: 0px;
    border: 1px solid #B8B5B5FC;
    margin-top: 16px;
    margin-left: 5px;
    margin-bottom: 16px;
}

.overview p {
    font-family: 'Jaldi', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin-left: 5px;
}

  .overview-links {
    font-family: 'Jaldi', sans-serif;
    background-color: #F4F1F1;
    width: 218px;
    height: 59px;
    border-radius: 5px;
    padding-left: 9px;
    margin-left: 14px;
}

.aside-links a {
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-left: 5px;
}
  
  .content {
    color: #000;
    background-color: #FFFEFE;
    border-radius: 4px;
    padding: 10px;
    width: 597px;
    height: 460px;
    margin-top: -5px;
  }

  .content h2{
    font-family: 'Inria Serif', serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    margin-left: 22px;
  }

  .content hr {
    border: 1.5px solid #EECC1C;
    transform: rotate(-0.2deg);
  }

  .mission h3 {
    font-family: 'Jaldi', sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin-left: 33px;
    margin-top: 3px;
  }

  .mission p {
    font-family: 'Jaldi', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-left: 33px;
}

  .mission li {
    font-family: 'Jaldi', sans-serif;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 23px;
    margin-left: 54px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 760px;
    }

    .navbar {
        justify-content: space-between;
        width: 760px;
    }

    .links a {
        display: none;
    }

    .search-box-container {
        display: none;
    }

    .toggle-btn {
        font-size: 20px;
        padding-top: 25px;
        padding-right:  10px;
        gap: 10px;
        cursor: pointer;
    }
        
    .toggle-btn i {
        display: block;
    }

    .toggle-btn i:hover {
        color: #EECC1C;
    }
    
    main {
        width: 760px;
        height: 609px;
        padding: 10px;  
        gap: 10px;
        background-color: #E7E5E5E8;
    }
    
    aside {
        width: 200px;
        height: 460px;
    }
        
    aside hr {
        width: 170px;
        margin-right: 10px;
    }
    
    .overview p {
        font-family: 'Jaldi', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #000;
        margin-left: 5px;
    }
    
      .overview-links {
        width: 155px;
        height: 59px;
        border-radius: 5px;
        padding-left: 9px;
        margin-left: 14px;
    }
    
    .aside-links a {
        font-size: 20px;
    }
      
    .content {
        width: 490px;
        height: 460px;
      }
    
      .content h2{
        font-family: 'Inria Serif', serif;
        font-size: 19px;
        font-weight: 400;
        line-height: 23px;
        margin-left: 22px;
      }
        
      .mission h3 {
        font-size: 15px;
      }
    
      .mission p {
        font-size: 12px;
    }
    
      .mission li {
        font-family: 'Jaldi', sans-serif;
        font-weight: 400;
        font-size: 11.5px;
        line-height: 23px;
        margin-left: 54px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 375px;
    }

    .navbar {
        justify-content: space-between;
        width: 375px;
        height: 71px;
    }

    .links a {
        display: none;
    }
    
    .logo h1 {
        font-size: 20px;
    }
    
    .logo h2 {
        font-size: 11px; 
    }     

    .search-box-container {
        display: none;
    }

    .toggle-btn {
        font-size: 20px;
        padding-top: 25px;
        padding-right: 10px;
        gap: 10px;
        cursor: pointer;
    }
        
    .toggle-btn i {
        display: block;
    }

    .toggle-btn i:hover {
        color: #EECC1C;
    }

    .wrapper .header i {
        margin-top: 15px;
        margin-left: 156px;
        cursor: pointer;
        display: block;
    }

    aside {
        display: none;
    }

    .content {
        width: 355px;
    }

    .content h2{
        font-size: 15px;
      }
        
      .mission h3 {
        font-size: 11px;
      }
    
      .mission p {
        font-size: 9px;
        line-height: 15px;

    }
    
      .mission li {
        font-size: 9px;
        line-height: 15px;
      }
}