* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.checkout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 870px;
    height: 565px;
    margin: auto;
    font-size: 20px;
}

.checkout_left-half {
    background: #FFFEFE;
}

.checkout_right-half {
    background: #E7E5E5E8;
    padding-top: 54px;
    padding-bottom: 25px;
}

.checkout_right-half p {
    font-family: 'Inter', sans-serif;
    max-width: 403px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 16px;
    margin-right: 13px;
}

.book-info {
    display: flex;
    margin: 7px 44px
}

.book-info img {
    width: 127px;
    height: 196px;
    ;
}

.publish p {
    font-family: 'Jaldi', sans-serif;
    width: 196px;
    height: 81px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin-top: 60px;
    padding-left: -50px;
}

.author {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 7px 49px 191px;
}

.notice {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #E40606;
    margin-left: 77px;
    margin-bottom: 10px;
    
}

.header {
    height: 126px;
    background-color: #14164A;
}

.header h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 47px;
    padding-top: 54px;
    color: #F8D937C9;
    -webkit-text-stroke: 0.5px black;
    text-align: center;
}

form {
    margin-left: 45.5px;
}

.contact {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin-top: 22px;
}

.login {
    display: flex;
}

.login p {
    font-size: 10px;
    font-weight: 400;
    padding-right: 2px;
}

.login a {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    padding-right: 50px;
}

.contact a:hover {
    text-decoration: underline;
}

.residential {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin-top: 17px;
}

.contact_email input[type=email] {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    width: 333px;
    height: 25px;
    background: #FFFEFE;
    border: 1px solid #000000;
    margin-top: 10px;
    padding-left: 6px;
}

.checkout_box label {
    font-family: 'Inter', sans-serif;
    font-size: 9px;
    font-weight: 400;    
}

.contact_name input[type=text] {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    line-height: 12px;
    width: 162px;
    height: 25px;
    background: #FFFEFE;
    border: 1px solid #000000;
    margin-top: 10px;
    padding-left: 6px;
}

.contact_address input[type=text] {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    width: 333px;
    height: 25px;
    background: #FFFEFE;
    border: 1px solid #000000;
    margin-top: 10px;
    padding-left: 6px;
}

.contact_country input[type=text] {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    width: 333px;
    height: 25px;
    background: #FFFEFE;
    border: 1px solid #000000;
    margin-top: 10px;
    padding-left: 6px;
}

.contact_location input[type=text] {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    width: 107.5px;
    height: 25px;
    background: #FFFEFE;
    border: 1px solid #000000;
    margin-top: 10px;
    padding-left: 6px;
}

.contact_phone input[type=text] {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    width: 333px;
    height: 25px;
    background: #FFFEFE;
    border: 1px solid #000000;
    margin-top: 10px;
    padding-left: 6px;
}

::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: #000;
    opacity: 0.8; 
  }

button {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 18px;
    width: 161px;
    height: 42px;
    border: none;
    border-radius: 20px;
    background: #F8D937C9;
    cursor: pointer;
    margin: 23px 90px 15px;
}

button:hover {
    background-color: #f7db52c9;
}

.back a{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.previous a{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .checkout {
        grid-template-columns: auto auto;
    }     
}

@media screen and (max-width: 767px) {
    .checkout {
        width: 370px;
    }

    .checkout_right-half {
        grid-row: 2 / span 1;
    }
   
    .checkout_left-half {
        background: #FFFEFE;
    }
    
    .checkout_right-half {
        width: 370px;
    }
    
    .checkout_right-half p {
        font-size: 12px;
        margin-left: 16px;
        margin-right: 13px;
    }
    
    .book-info {
        display: flex;
        margin: 7px 44px
    }
    
    .book-info img {
        width: 120px;
        height: 190px;
    }
    
    .publish p {
        font-size: 10px;   
        font-weight: 400;
            
    }
    
    .author {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin: 7px 49px 191px;
    }
    
    .notice {
        font-size: 12px;
    }
    
    .header {
        width: 370px;
        height: 110px;
    }
    
    .header h1 {
        font-size: 22px;
    }
    
    form {
        margin-left: px;
    }
    
    .contact {
        font-size: 12px;
    }

    .login {
        display: flex;
        letter-spacing: -0.5px;
    }

    .login a {
        font-size: 9px;
    }
    
    .contact_email input[type=email] {
        width: 285px;
    }
    
    .checkout_box label {
        font-size: 9px;   
    }
    
    .residential {
        font-size: 12px;
    }

    .contact_name input[type=text] {
        font-size: 10px;
        width: 138px;
    }
    
    .contact_address input[type=text] {
        width: 285px;
    }
    
    .contact_country input[type=text] {
        width: 285px;
    }    

    .contact_location input[type=text] {
        width: 91.5px;
    }

    .contact_phone input[type=text] {
        width: 285px;
    }
        
    button {
        margin: 23px 70px 15px;
    }
    
    .back a{
        display: none;
    }

    .previous a{
        display: block;
    }
}