* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 840px;
    height: 632px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 840px;
    height: 71px;
    background: #14164A;
}

.links {
    padding-top: 23px;
}

.links a{
    font-family: 'Jaldi';
    font-size: 14.5px;
    font-weight: 400;
    color: #FFFEFE;
    text-decoration: none;
    margin: 8px;
}

.links a:hover {
    color: #EECC1C;
}

.search-box-container form {
    padding-top: 15px;
}

.search-box-container input {
    width: 105px;
    height: 38px;    
    background: #FFFEFE;
    border: 1px solid #14164A;
    border-radius: 30px;
    margin-right: 11px;
}

.logo {
    margin-left: 12px;
    padding-top: 15px;
}

.logo h1 {
    font-family: 'Jaldi', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFEFE;
}

.logo h2 {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 15px; 
    color: #F5F5F5;
    text-align: center;
    margin-top: -15px;
    display: flex;
}     

.logo h2:before, .logo h2:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #EECC1C;
  margin: auto;
}

.search-box-container input {
  padding: 5px 20px 5px 5px;
}

.search-box-container form i {
    position: absolute;
    margin-top: 12px;
    margin-left: -32px;
    color: #000;
    font-size: 12px;
    cursor: pointer;
}

.search-box-container ::placeholder {
    color: #000;
}

.toggle-btn {
    display: flex;
    color: #FFFEFE;
}

.toggle-btn i {
    display: none;
}

.genres {
    text-align: center;
    margin-top: 30px;
}

.genres a {
    font-family: 'Jaldi', sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #676666FC;
    padding-left: 29px;
}

.genres a:hover {  
    color: #EECC1C;
}

.wrapper {
    margin-top: -15px;
    background-color: #FFFEFE;
}

.row {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.books h1 {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin: 15px 80px 10px;
}

.column img{
    width: 150px;
    height: 210px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 760px;
    }

    .navbar {
        justify-content: space-between;
        width: 760px;
    }

    .links a {
        display: none;
    }

    .search-box-container {
        display: none;
    }

    .toggle-btn {
        font-size: 20px;
        padding-top: 25px;
        padding-right:  10px;
        gap: 10px;
        cursor: pointer;
    }
        
    .toggle-btn i {
        display: block;
    }

    .toggle-btn i:hover {
        color: #EECC1C;
    }

    .column img{
        width: 135px;
        height: 200px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 375px;
    }

    .navbar {
        justify-content: space-between;
        width: 375px;
        height: 71px;
    }

    .links a {
        display: none;
    }
    
    .logo h1 {
        font-size: 20px;
    }
    
    .logo h2 {
        font-size: 11px; 
    }     

    .search-box-container {
        display: none;
    }

    .toggle-btn {
        font-size: 20px;
        padding-top: 25px;
        padding-right: 10px;
        gap: 10px;
        cursor: pointer;
    }
        
    .toggle-btn i {
        display: block;
    }

    .toggle-btn i:hover {
        color: #EECC1C;
    }

    .genres a {
        display: none;
    }

    .books h1 {
        margin: 15px 10px 10px;
    }

    .row {
        display: block;
        gap: 1em;
        background-color: #FFFEFE;
    }

    .column img{
        margin-left: 125px;
        width: 117px;
        height: 186px;
    }
}