* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 872px;
    height: 580px;
    background: #FFFEFE;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 862px;
    height: 71px;
    background: #14164A;
}

.links {
    padding-top: 23px;
}

.links a{
    font-family: 'Jaldi';
    font-size: 14.5px;
    font-weight: 400;
    color: #FFFEFE;
    text-decoration: none;
    margin: 8px;
}

.links a:hover {
    color: #EECC1C;
}

.search-box-container form {
    padding-top: 15px;
}

.search-box-container input {
    width: 105px;
    height: 38px;    
    background: #FFFEFE;
    border: 1px solid #14164A;
    border-radius: 30px;
    margin-right: 11px;
}

.logo {
    margin-left: 12px;
    padding-top: 15px;
}

.logo h1 {
    font-family: 'Jaldi', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFEFE;
}

.logo h2 {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 15px; 
    color: #F5F5F5;
    text-align: center;
    margin-top: -15px;
    display: flex;
}     

.logo h2:before, .logo h2:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #EECC1C;
  margin: auto;
}

.search-box-container input {
  padding: 5px 20px 5px 5px;
}

.search-box-container form i {
    position: absolute;
    margin-top: 12px;
    margin-left: -32px;
    color: #000;
    cursor: pointer;
    font-size: 12px;
}

.search-box-container ::placeholder {
    color: #000;
    opacity: 0.8;
}

.toggle-btn {
    display: flex;
    color: #FFFEFE;
}

.toggle-btn i {
    display: none;
}

.main-content {
    display: flex;
    width: 872px;
    height: 580px;
}

.left-half {
    width: 282px;
    height: 400px;
    background-color:#FFFEFE;
}

.left-half img {
    width: 256px;
    margin: 10px 11px 0px;
}

.rating img {
    width: fit-content;
}

.rating {
    font-family: 'Jaldi', sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: flex;
} 

.rating img{
    margin-top: 0px;
    margin-bottom: 21px;
    margin-right: 0px
}

.rating p {
    margin-bottom: 21px;
}

.rating a {
    color: #5359EF;
    text-decoration: none;
}

.left-half button {
    font-family: 'Jaldi', sans-serif;
    font-size: 19px;
    background: #F8D937C9;
    border: none;
    border-radius: 20px;
    width: 166px;
    height: 47px;
    margin-left: 55px;
    cursor: pointer;
}

.right-half {
    font-family: 'Jaldi', sans-serif;
    background-color: #FFFEFE;
    width: 580px;
    height: 509px;
    margin-top: 10px;
}

.right-half h1{
    font-size: 23px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
}

.right-half h2 {
    font-size: 15px;
    font-weight: 400;
    margin-left: 35px;
}

.right-half a {
    color: #5359EF;
    text-decoration: none;
}

.right-half h3 {
    font-family: 'Jaldi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-align: right;
    margin-top: -20px;
    margin-right: 35px;
    margin-bottom: 34px;
}

.right-half h4 {
    font-size: 15px; 
    font-weight: 700;
    margin-top: -10px;
}

.right-half p {
font-size: 15px;
line-height: 25.35px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 760px;
    }

    .navbar {
        justify-content: space-between;
        width: 760px;
    }

    .links a {
        display: none;
    }

    .search-box-container {
        display: none;
    }

    .toggle-btn {
        font-size: 20px;
        padding-top: 25px;
        padding-right:  10px;
        gap: 10px;
        cursor: pointer;
    }
        
    .toggle-btn i {
        display: block;
    }

    .toggle-btn i:hover {
        color: #EECC1C;
    }

    .main-content {
        width: 760px;
        height: 580px;
    }

    .left-half {
        width: 282px;
        background-color:#FFFEFE;
    }
    
    .left-half img {
        width: 240px;
        margin: 10px 11px 0px;
    }

    .rating {
        display: block;
    }

    .rating p {
        margin-left: 75px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 375px;
    }

    .navbar {
        justify-content: space-between;
        width: 375px;
        height: 71px;
    }

    .links a {
        display: none;
    }
    
    .logo h1 {
        font-size: 20px;
    }
    
    .logo h2 {
        font-size: 11px; 
    }     

    .search-box-container {
        display: none;
    }

    .toggle-btn {
        font-size: 20px;
        padding-top: 25px;
        padding-right: 10px;
        gap: 10px;
        cursor: pointer;
    }
        
    .toggle-btn i {
        display: block;
    }

    .toggle-btn i:hover {
        color: #EECC1C;
    }

    .main-content {
        display: block;
        width: 375px;
        height: 580px;
    }

    .left-half {
        margin-left: 50px;
    }

    .left-half img {
        width: 150px;
        height: 220px;
        margin: 20px 60px 0px;
    }

    .rating {
        display: block;
    }
    
    .rating img {
        width: 150px;
        margin: -100px 60px 0px;
    }

    .rating p {
        margin-top: -100px;
        margin-left: 75px;
    }

    .right-half {
        width: 370px;
    }

    .right-half h1 {
        font-size: 16px;
        line-height: 25px;
    }

    .right-half h2 {
        font-size: 15px;
        margin-left: 10px;
    }
        
    .right-half h3 {
        font-size: 13px;
        line-height: 20px;
        margin-right: 8px;
    }

    .right-half h4 {
        font-size: 15px; 
        font-weight: 700;
        line-height: 20px;
    }

    .right-half p {
        line-height: 18px;
        font-size: 15px;
    }
}