* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 880px;
    height: 585px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 840px;
    height: 71px;
    background: #14164A;
}

.links {
    padding-top: 23px;
}

.links a{
    font-family: 'Jaldi';
    font-size: 14.5px;
    font-weight: 400;
    color: #FFFEFE;
    text-decoration: none;
    margin: 5px;
}

.links a:hover {
    color: #F8D937C9;
}

.logo {
    margin-left: 12px;
    padding-top: 15px;
}

.logo h1 {
    font-family: 'Jaldi', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFEFE;
}

.logo h2 {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 15px; 
    color: #F5F5F5;
    text-align: center;
    margin-top: -15px;
    display: flex;
}     

.logo h2:before, .logo h2:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #EECC1C;
  margin: auto;
}

.search-box-container form {
    display:flex;
    align-items:center;
    padding-top: 15px;
}

.search-box-container input {
    width: 105px;
    height: 38px;    
    background: #FFFEFE;
    border: 1px solid #14164A;
    border-radius: 30px;
    padding: 5px 20px 5px 5px;
}

.search-box-container form i {
    position: absolute;
    margin-left: 85px;
    padding-bottom: 5px;
    color: #000;
    font-size: 12px;
    cursor: pointer;
}

.search-box-container ::placeholder {
    color: #000;
    opacity: 0.8;
}

.toggle-btn {
    display: flex;
    color: #FFFEFE;
}

.toggle-btn i {
    display: none;
}


.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.registration h1 {
    font-family: 'Javanese Text';
    font-weight: 400;
    font-size: 24px;
    line-height: 54px;
    text-align: center;
}

.registration form {
    width: 60%;
    padding: 20px;
    background: #fff;
}

.contact-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-item .item {    
    width: calc(50% - 8px);
}

.item label {
    font-family: 'Jaldi', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}

.item p {
    font-family: 'Jaldi', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

input, select, textarea {
    margin-bottom: 5px;
    border: 1px solid #E7E5E5E8;
}
input {
    width: calc(100% - 10px);
    padding: 5px;
 }
textarea {
    font-family: 'Jaldi';
    width: calc(100% - 12px);
    padding-left: 11px;
    resize: none;
}

.bio textarea::placeholder {
    color: #000;
    opacity: 0.8;
}

.item {
    position: relative;
    margin: 10px 0;
}

.item span {
    color: red;
}
  
button {
    font-family: 'Jaldi', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 85px;
    height: 34px;
    border: none;
    background:  #E7E5E5E8;
    color: #000;
    cursor: pointer;
    }

button:hover {
    background:  #a3c2c2;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 760px;
    }

    .navbar {
        justify-content: space-between;
        width: 760px;
    }

    .links a {
        display: none;
    }

    .search-box-container {
        display: none;
    }

    .toggle-btn {
        font-size: 20px;
        padding-top: 25px;
        padding-right:  10px;
        gap: 10px;
        cursor: pointer;
    }
        
    .toggle-btn i {
        display: block;
    }

    .toggle-btn i:hover {
        color: #EECC1C;
    }

}

@media screen and (max-width: 767px) {
    .container {
        width: 375px;
    }

    .navbar {
        justify-content: space-between;
        width: 375px;
        height: 71px;
    }

    .links a {
        display: none;
    }
    
    .logo h1 {
        font-size: 20px;
    }
    
    .logo h2 {
        font-size: 11px; 
    }     

    .search-box-container {
        display: none;
    }

    .toggle-btn {
        font-size: 20px;
        padding-top: 25px;
        padding-right: 10px;
        gap: 10px;
        cursor: pointer;
    }
        
    .toggle-btn i {
        display: block;
    }

    .toggle-btn i:hover {
        color: #EECC1C;
    }

    .contact-item {
        display: block;

    }

    .contact-item .item {    
        width: calc(100% - 10px);
    }

}
   