* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 993px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 993px;
    height: 71px;
    padding-top: 20px;
    background-color:#14164A;
}

.navbar button {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 1000px;
    background-color: #4A4446;
    cursor: pointer;
}

.logo {
    font-family: 'Jaldi', sans-serif;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFEFE;
}

.line-before {
    display: inline-block;
    background: #F8D937C9;
    height: 1px;
    width: 65px;
    margin-right: 5px;
    vertical-align: middle;
}

.line-after {
    display: inline-block;
    background: #F8D937C9;
    height: 1px;
    width: 65px;
    margin-left: 5px;
    vertical-align: middle;
}

.navbar a {
    font-family: 'Jaldi', sans-serif;
    font-size: 14.5px;
    text-decoration: none;
    color: #FFFEFE;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar a:hover {
    color:#F8D937C9;
}

.search-box-container form {
    display:flex;
    align-items:center;
}

.search-box-container input {
    width: 105px;
    height: 38px;    
    background: #FFFEFE;
    border: 1px solid #14164A;
    border-radius: 30px;
    padding: 5px 20px 5px 5px;
}

.search-box-container form i {
    position: absolute;
    margin-left: 85px;
    color: #000;
    font-size: 12px;
    cursor: pointer;
}

.search-box-container ::placeholder {
    color: #000;
    opacity: 0.8;
}


.toggle-btn {
    display: flex;
    color: #FFFEFE;
}

.toggle-btn i {
    display: none;
}

.gray-area {
    width: 993px;
    height: 20px;
    background: #4A4446;
}

.header {
    width: 993px;
    height: 123px;
    background-color: #F8D937C9;
}

.header h1 {
    font-family: 'Jaldi', sans-serif;
    font-size: 32px;
    color: #FFFEFE;
    -webkit-text-stroke: 1px #00000038;
    text-transform: uppercase;
    text-align: center; 
    padding-top: 34px;
}

.images {
    display: flex;
    justify-content: space-between;
}

.image3 {
    box-sizing: content-box;
    height: 250px;
    display: inline-block;
    color: black;
    position: relative;
}

.first-txt {
    font-family: 'Jaldi', sans-serif;
    margin-top: -230px;
}

.first-txt h3 {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.first-txt p {
    font-size: 14px;
    margin-left: 16px;
}

.first-txt li {
    list-style-type: none;
    font-size: 14px;
    margin-left: 16px;
}

.footer {
    text-align: center;
    width: 993px;
    height: 222px;
    background-color: #14164ACF;
    margin: -8px auto;
}

.footer h2 {
    display: flex;
    justify-content: center;    
    font-family: 'Jaldi', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #F8D937C9;
    padding-top: 13px;
}

.footer p{
    font-family: 'Jaldi', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: #FFFEFE;
}

.footer a {
    font-family: 'Jaldi', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    float: right;
    color: #FFFEFE;
    margin-top: -1%;
}

.footer a:hover {
    color: #0000ff;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 760px;
    }

    .navbar {
        justify-content: space-between;
        width: 760px;
    }

    .links a {
        display: none;
    }

    .search-box-container {
        display: none;
    }

    .toggle-btn {
        font-size: 20px;
        padding-top: 25px;
        padding-right:  10px;
        gap: 10px;
        cursor: pointer;
    }
        
    .toggle-btn i {
        display: block;
    }

    .toggle-btn i:hover {
        color: #EECC1C;
    }

    .gray-area {
        width: 760px;
    }

    .header {
        width: 760px;
    }

    .images{
       display: block;
       text-align: center;
    }

    .footer {
        width: 760px;
    }

}

@media screen and (max-width: 767px) {
    .container {
        width: 375px;
    }

    .navbar {
        justify-content: space-between;
        width: 375px;
        height: 71px;
    }

    .links a {
        display: none;
    }
    
    .logo h1 {
        font-size: 20px;
    }
    
    .logo h2 {
        font-size: 11px; 
    }     

    .search-box-container {
        display: none;
    }

    .toggle-btn {
        font-size: 20px;
        padding-right: 10px;
        gap: 10px;
        cursor: pointer;
    }
        
    .toggle-btn i {
        display: block;
    }

    .toggle-btn i:hover {
        color: #EECC1C;
    }

    .gray-area {
        width: 375px;
    }

    .header {
        width: 375px;
    }

    .header h1 {
        font-size: 25px;
    }

    .images {
        display: block;
        width: 375px;
        text-align: center;
    }

    .footer {
        width: 375px;
        height: 300px;
    }

    .footer h2 {
        font-size: 28px;
    }
}